@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$code-font: 'Ubuntu Mono', monospace;

$large-font-size: 50px;

* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  font-family: $main-font;
}

h1 {
  font-family: $secondary-font;
  font-size: $large-font-size;
}

h2 {
  font-family: $secondary-font;
  font-size: 2px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td{
  padding: 10px;
}

button{
  background: transparent;
  border: solid;
  font-size: 20px;

  &:hover{
    background: cornflowerblue;
  }
}

//mixins
@mixin flex {
  // write the css here
  display: -webkit-flex;
  display: flex;
}

@mixin flex-columns($direction) {
  @include flex;
  flex-direction: column;
  align-items: $direction;
}

//responsive stuff
$min-landscape-layout: 1100px;
$max-vertical-layout: $min-landscape-layout - 1px;

@mixin landscape {
  @media (min-width: $min-landscape-layout) {
    @content;
  }
}

@mixin vertical {
  @media (max-width: $max-vertical-layout) {
    @content;
  }
}

.background {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}