@import "index_header";


#info-blocks {
  position: absolute;
  @include landscape {
    //stick to the right
    right: 0;
    width: $width-closed;

    //align all children to right, in columns
    @include flex-columns(flex-end);
  }

  @include vertical {
    top: $sidebar-height-vertical;
    width: 100%;

    //align all children to center, in columns
    @include flex-columns(center);
  }

  //base for each info block - backgrounds should be placed in here
  .info-block {
    width: 100%; //make sure it takes up all the width
    position: relative; //make sure child elements with absolute find it

    //foreground
    @include landscape {
      .content {
        float: right;
      }
    }
  }
}

