@import "../../../index_header";

#leilo-block {
  min-height: 700px;

  .background {
    background: url('/img/leilo_2.PNG') fixed;
    background-size: cover;
  }


  display: flex;
  align-items: flex-end;
  justify-content: center;

  .content {
    color: black;
    background: rgba(255,255,255,0.9);

    strong {
      font-weight: bold;
    }

    ul {
      list-style: disc inside;
    }
  }
}