@import "../../index_header";

#project-header-block {
  font-size: 30px;
  $height: 150px;
  height: $height;
  .background {
    background: #1E88E5;
    background-size: cover;
  }

  .content{
    min-width: 100%;
    color: white;
    font-family: $secondary-font;
    text-align: center;
    vertical-align: middle;
    line-height: $height;

    //padding-left: 100px;
  }
}