@import "../../index_header";

#leilo-block {

  .background {
    //background: url('/img/leilo_2.PNG') fixed;
    //filter: grayscale(50%);
    //background-size: cover;
    background: #ECEFF1;
  }

  .content {
    color: black;
    //background: rgba(255,255,255,0.9);
  }

  .project-intro{
    color: #1E88E5;
  }
}