#objpermseng-block {
  .background {
    background: url("/img/water-bg.jpeg") fixed left;
    background-size: cover;
    filter: brightness(50%);
    //opacity: 0.5;
  }

  .content {
    margin-top: 100px;
    color: #ECEFF1;
    background: rgba(0, 3, 7, 0.6);
  }

  .info-link {
    .link-icon {
      filter: invert(100%);
    }

    .link-text {
      color: white;
    }
  }

  .project-intro{
    color: #90CAF9;
  }
}