@import "../../base";

#about-me {
  @include landscape{
    height: 100vh;
  }
  @include vertical{
    height: 80vh;
  }

  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: center;

  .content {
    padding-right: 100px;
  }

  .background {
    top: -10%;
    background: url('/img/memphis-colorful.png') repeat;
    opacity: 0.5;
    //filter: blur(10px);
  }

  .about-text {
    width: 500px;
    display: block;
    float: right;
    clear: right;
  }

  .about-header {
    margin-bottom: 10px;
    display: inline-block;
    float: right;
  }
  .github-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    clear: right;
    float: right;
    .github-icon {
      width: 40px;
      height: 40px;
      float: left;
    }
    .github-text {
      font-weight: bold;
      padding-left: 10px;
    }
  }
}