@import "../../base";

//#name-block-interactive {
//  text-align: left;
//  font-family: $code-font;
//  font-size: 36px;
//
//  white-space: pre;
//
//  line-height: 50px;
//  height: 150px;
//
//  padding-bottom: 30px;
//}

.name-block {
  display: flex;
  flex-direction: column;
  font-family: $secondary-font;
  .greeting-text {
    font-size: 60px;
  }
  .name-text {
    padding-top: 5px;
    font-size: 40px;
  }
}